* {
  color: inherit;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}
hr {
  border: 0;
  border-top: 1px dotted #efefef;
}
img {
  max-width: 100%;
}

h1 {
  a {
    color: red;
  }
}
//variables

$primary: #326dee;
$secondary: #1ac888;
$error: #d32752;
$info: #f6c31c;
$bane: #1ac888;
$base-padding: 0.75rem;
$base-margin: 0.55rem;
$bas-thickness: 0.44rem;
$base-border: 0.55rem;
// spacing
$random: 12rem;
$base-borders: 12px;
